body {
  background-color: var(--websiteBackgroundColor);
  font-family: "Manrope", Courier, monospace;
}
.mainContainer {
  background-color: var(--websiteBackgroundColor);
  width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 18px 80px;
  width: 100%;
  max-width: 1440px;
}
header .headerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--colorPlanCardBg);
  border-radius: 12px;
  background-color: var(--colorHeaderFooterBg);
  width: 450px;
  height: 61px;
}
.headerUl ul {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
  list-style: none;
}
.headerUl ul li a {
  transition: background 0.3s ease;
  border-radius: 8px;
  padding: 12px 20px;
  color: var(--textColor);
  font-size: 13px;
  line-height: 21px;
  text-decoration: none;
}
.headerUl ul li a:hover,
.headerUl ul li a.active,
.headerUl ul li a:focus {
  background-color: var(--colorPlanCardBg);
  color: var(--colorWhite);
}
.headerIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62px;
}
.headerIcons img {
  display: flex;
  transition: 0.3s ease;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.headerIcons img:hover {
  opacity: 0.7;
}
header .menuIcon {
  display: none;
  border: 3px solid var(--cardBackgroundColor);
  border-radius: 6px;
  background-color: var(--colorPlanCardBg);
  padding: 15px 12px;
  width: 48px;
  height: 48px;
}
dialog {
  margin: auto;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  border-radius: 26px;
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
}
dialog input {
  outline: none;
  border: none;
  border-radius: 26px;
  padding: 0px 28px;
  width: 1000px;
  height: 40px;
  color: var(--colorPlanCardBg);
  font-size: 18px;
}
.filmContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
  background-image: url(../../pages/img/png/moviesHeroContainer.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1280px;
  height: 709px;
}
.filmContainer img {
  width: 100%;
}
.movieDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.movieDescription h2 {
  margin: auto;

  width: 100%;
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.movieDescription p {
  margin: auto;
  width: 100%;
  color: var(--colorPharagraf);
  font-size: 14px;
  text-align: center;
}
.movieButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.watchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.5s ease;
  margin: 40px auto;
  border-radius: 8px;
  background-color: var(--colorButtons);
  width: 128px;
  height: 54px;
}
.watchBtn img {
  margin-left: 24px;
  width: 15px;
  height: 15px;
}
.watchBtn p {
  color: var(--colorWhite);
  text-align: start;
}
.watchBtn:hover {
  scale: 1.1;
  background-color: var(--colorWatchBtnHover);
}
.pluseButton {
  display: flex;
  gap: 8px;
}
.arrowButoon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 400ms ease-in-out;
  border: 1px solid var(--cardBackgroundColor);
  border-radius: 6px;
  background-color: var(--colorBlack);
  width: 44px;
  height: 44px;
}
.arrowButoon:hover {
  background-color: var(--cardBackgroundColor);
}
.arrowButoon img {
  width: 24px;
  height: 24px;
}
.moviesMainContainer {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: var(--websiteBackgroundColor);

  width: 100%;
  max-width: 1280px;
}
.moviesMainContainer .mainLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 850px;
}
.mainLeftContainer .descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--colorPlanCardBg);
  padding: 50px;
  height: 162px;
}
.description {
  width: 770px;
}
.mainLeftContainer .descriptionContainer p {
  max-width: 770px;
  color: var(--colorPharagraf);
}
.mainLeftContainer .descriptionContainer .filmDescription {
  color: var(--colorWhite);
}
.mainLeftContainer .cast {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: var(--colorPlanCardBg);
  max-width: 850px;
}
.mainLeftContainer .cast .casts,
.castButtons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin: 40px 40px 20px;
  width: 770px;
}
.mainLeftContainer .cast .casts p {
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: var(--colorPharagraf);
}
.mainLeftContainer .cast .casts .CastButtons {
  display: flex;
  gap: 8px;
}
.mainLeftContainer .cast .casts .CastButtons {
  margin-left: 30px;
}
.mainLeftContainer .cast .casts .CastButtons .leftButton,
.rightButton {
  border-radius: 50%;
  background-color: var(--colorBlack);
  padding: 12px;
  width: 44px;
  height: 44px;
}
.mainLeftContainer .cast .actorspictures {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin: 0 auto;

  margin-bottom: 40px;
  width: 770px;
}
.mainLeftContainer .cast .actorspictures .actors {
  width: 87px;
  height: 89px;
}
.mainLeftContainer .rateContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--colorPlanCardBg);
  max-width: 850px;
}
.mainLeftContainer .reviewsAndAddreviewsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 40px 30px 40px;
}
.mainLeftContainer .reviewsAndAddreviewsContainer p {
  color: var(--colorPharagraf);
}
.mainLeftContainer
  .rateContainer
  .reviewsAndAddreviewsContainer
  .addYourReview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 6px;
  background-color: var(--colorBlack);
  width: 162px;
  height: 48px;
}
.mainLeftContainer .filmrates {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px 30px;
  background-color: var(--colorPlanCardBg);
  max-width: 850px;
}
.mainLeftContainer .filmrates .rateLeftContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--colorBlack);
  width: 377px;
}
.mainLeftContainer .filmrates .rateTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 317px;
}

.mainLeftContainer .filmrates .rateTopContainer .actiorName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filmrates .actiorName h3 {
  color: var(--colorWhite);
}
.filmrates .actorCountry {
  color: var(--colorPharagraf);
}
.leftContParagraph {
  margin-top: 16px;
}

.filmrates img {
  width: 112px;
  height: 29px;
}
.filmrates .rateBottomContainer {
  align-items: center;
  margin: 0 auto;
  width: 317px;
  color: var(--colorPharagraf);
}
.filmrates .rateRightContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--colorBlack);
  width: 317px;
}

.mainLeftContainer .filmrates .rateLeftContainer {
  display: flex;
  flex-direction: column;
  background-color: var();
}

.filmrates .actiorName h3 {
  color: var(--colorWhite);
}
.filmrates .actorCountry {
  color: var(--colorPharagraf);
}

.filmrates .ratebtnContainer img {
  width: 112px;
  height: 29px;
}
.filmrates .rateBottomContainer p {
  width: 317px;
  color: var(--colorPharagraf);
}
.filmrates .rateRightContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 377px;
}
.mainRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: purple;
  max-width: 416px;
  height: 762px;
}

/* Start footer */

.footerMainContainer {
  background-color: var(--colorBlack);
  padding-top: 80px;
  width: 100%;
}
.footerMainContainer section a:hover {
  transition: color 0.5s ease;
  color: var(--textColor);
}
.sectionOne {
  display: flex;
}
.sectionTwo {
  display: flex;
}
.sectionThree {
  display: flex;
}
.footerMainContainer .footerTopContainer {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  max-width: 1220px;
}
.footerTopContainer section {
  display: flex;
  flex-direction: column;
  width: 196px;
}
.footerTopContainer section h5 {
  margin-bottom: 20px;
  color: var(--colorWhite);
  font-weight: 600;
  font-size: 18px;
}
.footerTopContainer section a {
  margin-top: 10px;
  color: var(--colorPharagraf);
  font-size: 16px;
}
.footerTopContainer .socialWebs {
  display: flex;
  gap: 10px;
}
.bottomLine {
  margin: 0 auto;
  margin-top: 80px;
  border-top: 1px solid var(--cardBackgroundColor);
  max-width: 1220px;
}
.footerBottomContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1220px;
}
.footerBottomContainer .footerCopyRight {
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--colorPharagraf);
}
.footerBottomContainer .footerUsefullLinks {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
.footerBottomContainer .linkBorders {
  border-left: 1px solid var(--colorPharagraf);
  height: 21px;
}
.footerBottomContainer .footerUsefullLinks a {
  color: var(--colorPharagraf);
}
.filmrates .rateRightContainer .rateBottomContainer {
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
  /* margin-bottom: 16px; */
  width: 317px;
  color: var(--colorPharagraf);
}
/* End footer */
