body {
  font-family: "Manrope", Courier, monospace;
  background-color: var(--websiteBackgroundColor);
}
.mainContainer {
  width: 100%;
  height: auto;
  background-color: var(--websiteBackgroundColor);
}
header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 80px;
  margin: 0 auto;
}
header .headerUl {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorHeaderFooterBg);
  border-radius: 12px;
  width: 450px;
  height: 61px;
  border: 4px solid var(--colorPlanCardBg);
}
.headerUl ul {
  display: flex;
  list-style: none;
  gap: 2px;
  margin-bottom: 2px;
}
.headerUl ul li a {
  text-decoration: none;
  transition: background 0.3s ease;
  border-radius: 8px;
  color: var(--textColor);
  font-size: 13px;
  line-height: 21px;
  padding: 12px 20px;
}
.headerUl ul li a:hover,
.headerUl ul li a.active,
.headerUl ul li a:focus {
  background-color: var(--colorPlanCardBg);
  color: var(--colorWhite);
}
.headerIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 62px;
}
.headerIcons img {
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s ease;
}
.headerIcons img:hover {
  opacity: 0.7;
}
header .menuIcon {
  display: none;
  background-color: var(--colorPlanCardBg);
  border-radius: 6px;
  border: 3px solid var(--cardBackgroundColor);
  width: 48px;
  height: 48px;
  padding: 15px 12px;
}
dialog {
  margin: auto;
  border: none;
  border-radius: 26px;
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
dialog input {
  border-radius: 26px;
  width: 1000px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0px 28px;
  color: var(--colorPlanCardBg);
  font-size: 18px;
}
.filmContainer {
  max-width: 1280px;
  height: 709px;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 0 auto;
  background-image: url(../../pages/img/png/moviesHeroContainer.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.filmContainer img {
  width: 100%;
}
.movieDescription {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.movieDescription h2 {
  width: 100%;
  margin: auto;
  font-size: 48px;
  font-weight: 700;
  color: var(--colorWhite);
  text-align: center;
  margin-bottom: 10px;
}
.movieDescription p {
  width: 100%;
  margin: auto;
  font-size: 14px;
  text-align: center;
  color: var(--colorPharagraf);
}
.movieButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.watchBtn {
  background-color: var(--colorButtons);
  margin: 40px auto;
  border-radius: 8px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 54px;
  width: 128px;
}
.watchBtn img {
  width: 15px;
  height: 15px;
  margin-left: 24px;
}
.watchBtn p {
  color: var(--colorWhite);
  text-align: start;
}
.watchBtn:hover {
  scale: 1.1;
  background-color: var(--colorWatchBtnHover);
}
.pluseButton {
  display: flex;
  gap: 8px;
}
.arrowButoon {
  width: 44px;
  background-color: var(--colorBlack);
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid var(--cardBackgroundColor);
  transition: background 400ms ease-in-out;
}
.arrowButoon:hover {
  background-color: var(--cardBackgroundColor);
}
.arrowButoon img {
  width: 24px;
  height: 24px;
}
